<html>
<head>
<meta charset="UTF-8">
<title>Politics</title>
	<link href="style.css" rel='stylesheet'>
</head>
<body>

	<div id='searchbar'>
		<div id='home'> <span id='RTH'>Home</span></div>

		<input class='bar' id='findTitle' type='text' placeholder='Search By Movie Title'></input>

		<button id='favLink'>Your Favorites</button>
	</div>

	<div id='page'>
		<h1 id='landing'>Best Movies</h1>

		<h3 id='sublanding'> A site where you can search movies and save them to a favorites list.</h3>
	</div>

	
	<button id='logout'>LOGOUT!</button>
	

	<script type='text/javascript' src='define.js'></script>
	<script type='text/javascript' src='main.js'></script>

</body>
</html>