<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1> Welcome to the login page </h1>
	<h3> Please enter your special key to enter this awesome party </h3>
	
	<form action="session" method="POST">
		<input name="username" placeholder="Your Username">
		<input type="password" name="password" placeholder="Your Password">
		<button>Log In</button>
	</form>
	

	<h3> If you are not currently a member and would like to be please submit your information here</h3>


	<form action="user" method="POST">
		<input name="newName" placeholder="Your Username">
		<input type="password" name="newPassword" placeholder="Your Password">
		<input type="password" name="confirmPass" placeholder="Confirm Password">
		<button>SUBMIT</button>
	</form> 

	
</body>
</html>
