<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Login</title>
	<link href="login.css" rel='stylesheet'>
</head>
<body>

	<h1 id='landing'> Welcome to Movie Lister </h1>
	<h3 class='sublanding'> Please login to get this party started</h3>
	
	<form action="session" method="POST">
		<input name="username" placeholder="Your Username">
		<input type="password" name="password" placeholder="Your Password">
		<button>Log In</button>
	</form>
	

	<h3 class='sublanding'> If you're not on the guest list, have no fear! Submit your infomation here!</h3>


	<form action="user" method="POST">
		<input name="newName" placeholder="Your Username">
		<input type="password" name="newPassword" placeholder="Your Password">
		<input type="password" name="confirmPass" placeholder="Confirm Password">
		<button>Submit</button>
	</form> 
</div>


	
</body>
</html>
