*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

button{
	outline: 0;
}

#logout{
	position:absolute;
	right: 5%;
	bottom: 5%;
	height: 50px;
	width: 85px;
	color: white;
	background-color: black;
	font-weight: 700;
	font-size: 16px;
}

#logout:hover{
	background-color: red;
	color: black;
	border: 2px solid black;
}

a{
	color: #515151;
}
/*Styles the div that all DOM manipulation will go through*/
#page{
	padding: 2%;
	position: absolute;
	top: 15%;
	height: auto;
	width: 40%;
	left: 29%;
	border:2px solid black;
	border-radius: 15px;
}
#landing{
	text-align: center;
	font-size: 72px;
	font-weight: 600;
	margin-top: 20%;
	position: relative;
	text-decoration: underline;
}

#sublanding{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 35px;
	width: 50%;
}

/*search bar styling*/
#searchbar{
	position: absolute;
	top: 0;
	color: white;
	width: 100%;
	height: 50px;
	background-color: #050606;
	left: 0;
	border-bottom: 2px solid #49464b;
}

/*Styles the input in the nav bar*/
#findTitle{
	left: 38%;
	height: 80%;
	width: 20%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

/*Styles the buttons in the nav bar*/
#favLink{
	position: absolute;
	right: 0;
	height: 100%;
	background-color: black;
	border: 2px solid white;
	font-size: 40px;
	color: white;
	font-family: 'EB Garamond', serif;
}

#favLink:hover{
	background-color: white;
	color: black;
}

#home{
	float: left;
	height: 100%;
	position: absolute;
	width: auto;
	font-size: 40px;
	border: 2px solid white;
	font-weight: 1000;
	font-family: 'EB Garamond', serif;
	margin: 0 !important;
    padding: 0 !important;
}

#home:hover{
	background-color: white;
	color:black;
}

/*Styles the page div when populated with Movie Details*/
ul{
	text-align: center;
	list-style-type: none;
	padding: 0;
}
h3{
	text-align: center;
	text-decoration: underline;
}

/*Styles the list of movies when they are populated from the "searchTitle" function*/
.multiMovie{
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 80px;
}

/*Styles the "Save to Favorites" Button*/
#favSave{
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #000000);
  background-image: -moz-linear-gradient(top, #d93434, #000000);
  background-image: -ms-linear-gradient(top, #d93434, #000000);
  background-image: -o-linear-gradient(top, #d93434, #000000);
  background-image: linear-gradient(to bottom, #d93434, #000000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  left: 30%;
}

#favSave:hover {
  background: #F6FDFB;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}