body{
	text-align: center;
	background-color: #546A7B;
  color: #FDFDFF;
}

#landing{
	text-align: center;
	font-size: 4.5em;
	font-weight: 700;
	margin-top: 10%;
	position: relative;
	text-decoration: underline;
}

.options{
	text-align: center;
}

.btn{
	color: #546A7B;
	background-color: #FDFDFF;
}

.backModal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.modal-body {
  border: 2px solid white;
  background-color: #62929E;
}

input{
	text-align: center;
}

.waves-effect{
	z-index: 0;
}