body{
	background-color: #546A7B;
  color: #FDFDFF;
}

button{
	outline: 0;
	cursor: pointer;
}

.home{
	text-align: center;
}

/*Nav Bar Styling*/
.nav-wrapper{
	background-color: #62929E;
}

#findTitle{
	text-align: center;
}

#findTitle::-webkit-input-placeholder{
	color: #FDFDFF;
}

#findTitle:-moz-placeholder{
  color:    #FF0000;
}

#findTitle:-ms-input-placeholder{
  color:    #FF0000;
}

/*ol{
	border: 2px solid white;
	display:inline-block;
}*/

